/**
  Store variables here
**/
$desktop-min = 1025px 
$tablet-max = 1024px
$tablet-min = 751px
$mobile-max = 750px

$large = "(min-width:$desktop-min)"
$medium = "(min-width:$tablet-min) and (max-width:$tablet-max)"
$medium-max = "(max-width:$tablet-max)"
$medium-min = "(min-width:$tablet-min)"
$small = "(max-width:$mobile-max)"

$site-padding = 20px
$font-family = Arial, Helvetica, sans-serif
$bg-size-htc-url = '/backgroundsize.min.htc' 
$font-kh-26 = 'Knockout-HTF26', Arial, sans-serif
$font-kh-27 = 'Knockout-HTF27', Arial, sans-serif
$font-kh-68 = 'Knockout-HTF68', Arial, sans-serif
$font-bc = 'big-caslon', Arial, sans-serif
$font-zh = 'SimHei', Arial, sans-serif