$is-ie := false

/* Global */
@import 'global/_reset'
@import 'global/_swatch'
@import 'global/_config'
@import 'global/_bg'
@import 'global/_button'
@import 'global/_fonts'
@import 'global/_h'
@import 'global/_hr'
@import 'global/_link'
@import 'global/_text'
@import 'global/_theme'
@import 'global/_wrapper'


/* Mixins */
@import 'mixins/_ie.styl'
@import 'mixins/_bg-size.styl'
@import 'mixins/_index.styl'
@import 'mixins/_opacity.styl'
@import 'mixins/_screen.styl'
@import 'mixins/_triangle.styl'

/* Page */
// @import 'page/*.styl'

/* Layout */
@import 'layout/*.styl'

/* Components */
@import 'components/*.styl'

/* Vendor */
@import 'vendor/*.styl'