.c-footer.l-margin-top-5
  a(href="").c-footer__logo
    img(src=paths.img + "logo-02.png" alt="")
    .c-footer__logo--white
  .c-footer__add-tel
    p.c-footer__address
      span.icon-location
      | 15 East, Zhongshan Road, Shanghai
    p.c-footer__telephone
      span.icon-phone
      | 086 - 21 - 12345678
    a(href="mailto:customer.service@playboy.com?cc=customer.service@playboy.com&subject=playboy&body=welcome").c-footer__email
      span.icon-mail
      p customer.service@playboy.com
    .top-line
      hr
  .c-footer__warn
    p ©2016 Playboy Enterprises International, Inc.
    p Playboy and the Rabbit Head Design are trademarks of Playboy Enterprises International, Inc. and used under license by Cachet Hotel Group Limited
  .c-footer__icp
    a(href="/") T&C
    a(href="/") Legal




